### break, continue

In [5]:
for i in range(1, 11) :
    if i > 5 :
        break
    print(i)
print("end")
#for문이 중첩되어 있을경우 모든 for문이 아닌 해당된 for문만 빠져나오게됨

1
2
3
4
5
end

In [4]:
for i in range(1, 11) :
    if i % 2 == 0 :
        continue
    print(i)

1
3
5
7
9

### ★출력 프로그램

In [40]:
star = input("input an integer :")
for x in star :
    for i in range(int(x)) :
        print("★", end='')
    print("")

input an integer :3159
★★★
★
★★★★★
★★★★★★★★★

In [38]:
star = input("input an integer :")
cnt = 0
while len(star) > cnt:
    for i in range(int(star[cnt])) :
        print("★", end='')
    cnt += 1
    print("")

input an integer :3159
★★★
★
★★★★★
★★★★★★★★★

In [46]:
# 조교님 답안1
num = input("Input an integer :")
for x in num :
    print("★"*int(x))

Input an integer :3159
★★★
★
★★★★★
★★★★★★★★★

In [47]:
# 조교님 답안2
num = input("Input an integer :")
for x in num :
    for y in range(int(x)) :
        print("★", end='')
    print("")

Input an integer :3159
★★★
★
★★★★★
★★★★★★★★★

In [45]:
num = list(map(int,list("1234")))
for i in num :
    print(i)

1
2
3
4

### list 관련 함수

In [1]:
colors = list()
colors

[]

In [6]:
colors.append("red")
colors

['green', 'blue', 'red']

In [3]:
colors.append("green")
colors.append("blue")
colors

['red', 'green', 'blue']

In [7]:
colors.remove("red")
colors
#list에 있는 "red" 중에서 처음만나는 "red"를 삭제

['green', 'blue']

In [8]:
colors.sort()
colors
#알파벳 순으로 정렬(아스키코드)

['blue', 'green']

In [18]:
a = [1, 7, 9, 2, 5]

In [23]:
a.sort(reverse=False)
a

[1, 2, 5, 7, 9]

In [11]:
a.reverse()
a

[9, 7, 5, 2, 1]

In [22]:
a_ = sorted(a, reverse=True)
a_

[9, 7, 5, 2, 1]

In [25]:
res = a.sort()
print(res)

None

In [2]:
Ls = list(range(1,11))
print(Ls)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
max(Ls)

10

In [4]:
min(Ls)

1

In [5]:
sum(Ls)

55

In [ ]:
sum = 0
#주의. sum이 int타입의 변수가 될 경우 sum함수를 사용할 수 없게된다

### 실습1
“done”을 입력할 때까지 사용자로부터 숫자를 입력 받아 리스트에 저장하고, 
“done”을 입력하면, 리스트의 평균, 최대값과 최소값을 출력하는 프로그램을
작성하시오. (힌트. sum(), max(), min() 함수를 사용)

In [7]:
my_num = input("Enter a number : ")
my_list = []

while True:
    if my_num != "done":
        my_list.append(my_num)
        my_num = input("Enter a number : ")
    else:
        print("")
        my_list = list(map(float, my_list))
        
        print(my_list)
        print("Average: %.1f" % (sum(my_list)/len(my_list)))
        print("Maximum: %.1f" % max(my_list))
        print("Minimum: %.1f" % min(my_list))        
        break

Enter a number : 7
Enter a number : 2
Enter a number : 9
Enter a number : 3
Enter a number : 5
Enter a number : done

[7.0, 2.0, 9.0, 3.0, 5.0]
Average: 5.2
Maximum: 9.0
Minimum: 2.0

### 튜플, 집합, 딕셔너리

In [8]:
t = tuple()
# 튜플 사용예시 "%d %s" %(t1, t2)
type(t)

tuple

In [9]:
t = 1, 2, 3
t

(1, 2, 3)

In [10]:
t = (1)
type(t)

int

In [11]:
t = (1, )
type(t)

tuple

In [ ]:
# 함수에서 return 1,2,3 할 경우 튜플타입으로 반환
# 튜플 관련 메서드는 딱 2개뿐임
# a.index(1)
# a.count(1)

In [12]:
s = set()
s

set()

In [14]:
s = {1, 2, 3, 4,4,4,4,5,6}
s
#순서가 없고 중복된 값이 없이 유니크한 값만 저장

{1, 2, 3, 4, 5, 6}

In [15]:
word = "Hello" * 2    #HelloHello
word_list = list(word)    #['H', 'e', 'l', 'l', 'o', 'H', 'e', 'l', 'l', 'o']
s3 = set(word_list)
s3

{'H', 'e', 'l', 'o'}

In [ ]:
# 집합 관련 함수
# s.add(10)
# s.remove(2)    없는거 삭제하면 에러남
# s.update([1,3,5,7,9])
# s.discard(7)    없는거 삭제해도 조용히넘어감
# s.clear()    전체 삭제

In [16]:
d={}
d

{}

In [18]:
d['kim'] = 1
d

{'kim': 1}

In [19]:
d['park'] = 2
d

{'kim': 1, 'park': 2}

In [21]:
d['kim'] = 10
d

{'kim': 10, 'park': 2}

In [23]:
d['youn'] = 1
d

{'kim': 10, 'park': 2, 'youn': 1}

In [24]:
d.keys()

dict_keys(['kim', 'park', 'youn'])

In [25]:
d.values()

dict_values([10, 2, 1])

In [26]:
d.items()

dict_items([('kim', 10), ('park', 2), ('youn', 1)])

In [27]:
"kim" in d

True

In [29]:
"kim" in d.values()

False