In [3]:
a = 1,2
a
#파이썬에서는 a,b로 받을경우 tuple로 리턴함

(1, 2)

## 실습문제4
초를 전달받아 시간, 분, 초를 반환하는 함수를 작성하시오.

In [49]:
def hour_min_sec(second):
    if(type(second) != int):
        print("정수를 입력바랍니다.")
    else:
        m = second / 60
        h = m / 60
        s = second % 60
        m = m % 60
    return h, m, s

h, m, s = hour_min_sec(12312)
print("%d시간 %d분 %d초" % (h, m, s))

3시간 25분 12초

### Mutable 타입의 매개변수

In [13]:
def test(a):
    a[1] = 20

t = [1, 2, 3]
test(t)
print(t)

[1, 20, 3]

In [15]:
def test(a):
    a['b'] = 3

t = {'c':1}
test(t)
print(t)

{'c': 1, 'b': 3}

### Immutable 타입의 매개변수

In [17]:
def test(a):
    a += (4, 5, 6)

t = (1, 2, 3)
test(t)
print(t)

(1, 2, 3)

In [19]:
def test(a):
    a += 1

t = 1
test(t)
print(t)

1

In [11]:
s = "abcd"
s = "aecd"
# s[1]가 b에서 e로 변경 된것처럼 보이지만 다른주소에 aecd가 새로 생성 된 것
a = 8
a = 7
# a가 8에서 7로 수정된 것이 아니라 변경된 다른 주소를 새로 부여받게된 것임

### 실습문제5
숫자로 구성된 리스트를 전달받아 최대값, 최소값을 반환하고, 두 수를 리스트에서 제거하는 함수를 작성하시오

In [2]:
def get_min_max(l):
    a = min(l)
    b = max(l)
    l.remove(a)
    l.remove(b)
    return a,b
    
l = [3, 5, 9, 1, 2]
min_val, max_val = get_min_max(l)
print(min_val)
print(max_val)
print(l)

1
9
[3, 5, 2]

### 실습문제6
로또 추첨 프로그램 1~45 숫자 중 6개를 임의로 선택 후 출력  
단, 중복된 번호를 가질 수 없음

In [14]:
import random
#random.randint(1,46)
l = list()

while True:
    l.append(random.randrange(1, 46))
    l = list(set(l))
    if len(l) == 6:
        break

print("** 로또 추첨을 시작합니다. **")
print("추첨된 로또 번호 ==>",l[0],l[1],l[2],l[3],l[4],l[5])

** 로또 추첨을 시작합니다. **
추첨된 로또 번호 ==> 32 4 38 43 21 23

In [43]:
#조교님 답안
import random

l = range(1,46)
print(random.sample(l,6))

[18, 37, 10, 20, 1, 32]

### 실습문제8
1. 전달받은 문장에서 각 알파벳이 몇 개씩 나오는지 저장하는 딕셔너리를 만든 후, 반환하는 함수 letter_dict()를 작성하시오.
2. letter_dict() 함수를 통해 생성된 딕셔너리에서 가장 많이 등장한 알파벳을 찾아 반환하는 함수를 작성하시오 (여러 개일 경우 아무 값이나 하나만 반환)

In [5]:
def letter_dict(str):
    dic = dict()
    for i in str:
        if i not in dic:
            dic[i] = 1
        else:
            dic[i] += 1
    return dic

def max_letter(dict):
    new_dict = sorted(dict, key= lambda x : dict[x], reverse = True)
    return new_dict[0]

a = letter_dict('red apple')
print(a)
print(max_letter(a))

{'r': 1, 'e': 2, 'd': 1, ' ': 1, 'a': 1, 'p': 2, 'l': 1}
e

### 실습문제9
1. letter_dict() 함수에 'yellow banana＇를 전달하여 새로운 딕셔너리 b를 생성한다.
2. 두 딕셔너리 a, b를 전달받아 각 딕셔너리에 등장한 값을 모두 더한 새로운 딕셔너리 c를 반환하는 함수 comb_dict()를 작성하시오.

In [6]:
def comb_dict(dict1, dict2):
    dic = dict1
    for k,v in dict2.items():
        if k not in dict1:
            dic[k] = 1
        else:
            dic[k] += v
    return dic

b = letter_dict('yellow banana')
c = comb_dict(a, b)
print(c)
print(max_letter(c))

{'r': 1, 'e': 3, 'd': 1, ' ': 2, 'a': 4, 'p': 2, 'l': 3, 'y': 1, 'o': 1, 'w': 1, 'b': 1, 'n': 1}
a

### 과제1 prime.py
소수(Prime Number) 판단하는 함수 정의하기

In [37]:
def check_prime(num):
    cnt = 0
    for i in range(1,int(num)+1):
        if num % i == 0:
            cnt += 1
    if cnt <= 2:
        return True
    else:
        return False
            
def main():
    a = 13
    b = 15
    
    if check_prime(a):
        print(str(a)+'는 소수입니다.')
    else:
        print(str(a)+'는 소수가 아닙니다.')
    
    if check_prime(b):
        print(str(b)+'는 소수입니다.')
    else:
        print(str(b)+'는 소수가 아닙니다.')
        
if __name__ == '__main__':
    main()

13는 소수입니다.
15는 소수가 아닙니다.

### 과제2 add_comma.py
천 단위마다 쉼표(,) 추가하는 함수 정의하기

In [36]:
def add_comma(val):
    comma_val = format(val,',')
    return comma_val

def main():
    comma_added_1234 = add_comma(1234)
    comma_added_12345678 = add_comma(12345678)
    comma_added_12 = add_comma(12)

    print(comma_added_1234) # '1,234'
    print(comma_added_12345678) # '12,345,678'
    print(comma_added_12) # '12

if __name__ == '__main__':
    main()

1,234
12,345,678
12

### 과제 3 - tok.py
전달받은 단어열의 n-gram을 구해주는 tokenize() 함수 정의하기

In [35]:
def tokenize(trg, N=1):
    trg = trg.split()                 
    ngramlist = []
    for i in range(len(trg) - N+1):
        word1 = trg[i:i+N]
        word2 = (' ').join(word1)
        ngramlist.append(word2)
    return ngramlist
    
def main():
    a="There was a farmer who had a dog ."
    print(tokenize(a))
    print(tokenize(a, 2))
    
if __name__ == '__main__':
    main()

['There', 'was', 'a', 'farmer', 'who', 'had', 'a', 'dog', '.']
['There was', 'was a', 'a farmer', 'farmer who', 'who had', 'had a', 'a dog', 'dog .']

### 과제 4 - mean_and_var.py
여러 벡터를 전달받아, 평균(Mean)과 분산 (Variance)을 구하는 함수 정의하기

In [38]:
def mean_and_var(*val):
    num, sum1, sum2, var1, var2 = 0, 0, 0, 0, 0
    for i in val:
        num += 1
        sum1 += float(i[0])
        sum2 += float(i[1])    
    m = sum1/num, sum2/num
    
    for x in val:
        var1 += (float(x[0] - m[0]))**2
        var2 += (float(x[1] - m[1]))**2
    v = var1/num, var2/num
        
    return m, v
        
def main():
    v1=(0, 1)
    v2=(0.5, 0.5)
    v3=(1, 0)
    
    m, var = mean_and_var(v1, v2, v3)
    print('평균: ', m)
    print('분산: ', var)

if __name__ == '__main__':
    main()

평균:  (0.5, 0.5)
분산:  (0.16666666666666666, 0.16666666666666666)

In [1]:
slist = [[201801, 84, 73], [201802, 92, 89], [201803, 57, 62], [201804, 58, 68]]

In [2]:
slist

[[201801, 84, 73], [201802, 92, 89], [201803, 57, 62], [201804, 58, 68]]

In [3]:
slist[1][2]

89

In [4]:
slist.sort(reverse=True)

In [5]:
slist

[[201804, 58, 68], [201803, 57, 62], [201802, 92, 89], [201801, 84, 73]]

In [6]:
slist.sort(key=lambda x : x[2],reverse=True)

In [7]:
slist

[[201802, 92, 89], [201801, 84, 73], [201804, 58, 68], [201803, 57, 62]]