### if문

In [2]:
x = 10
y = 20

if x + y < 50 :
    print("True")

True

In [5]:
x = 10
y = 60

if x + y < 50:
    print('True')
else:
    print('False')

False

In [6]:
a = ['python', 'is', 'easy']

'python' in a

True

In [23]:
print('x를 입력하시오.\n')
x = int(input())

print('\ny를 입력하시오.')
y = int(input())

if x < y:
    print('%s은 %s보다 작습니다.' %(x, y))

if x == y:
    print('%s은 %s는 같습니다.' %(x, y))

else:
    print('%s은 %s보다 큽니다.' %(x, y))

x를 입력하시오.

3

y를 입력하시오.
4
3은 4보다 작습니다.
3은 4보다 큽니다.

### While문

In [11]:
treeHit = 0
while treeHit < 10:
    treeHit = treeHit + 1
    print('나무를 %d번 찍었습니다.' % treeHit)
    if treeHit == 10:
        print('나무가 넘어갑니다.')

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무가 넘어갑니다.

In [18]:
treeHit = 0
while treeHit < 10:
    treeHit = treeHit + 1
    print('나무를 %d번 찍었습니다.' % treeHit)
    if treeHit == 10:
        print('나무가 넘어갑니다.')
        break
    a = input()
    continue

나무를 1번 찍었습니다.

나무를 2번 찍었습니다.

나무를 3번 찍었습니다.

나무를 4번 찍었습니다.

나무를 5번 찍었습니다.

나무를 6번 찍었습니다.

나무를 7번 찍었습니다.

나무를 8번 찍었습니다.

나무를 9번 찍었습니다.

나무를 10번 찍었습니다.
나무가 넘어갑니다.

### for문

In [19]:
a = ['apple','peer','pitch']
for x in a:
    print(x)

apple
peer
pitch

In [20]:
a = 1, 2
for x in a:
    print(x)
    y = x + 1
    print(y)

1
2
2
3

In [25]:
for i in range(1, 10):
    for k in range(1, 10):
        result = i * k
        print('%s x %s :' %(i, k), result)
    print('\n')

1 x 1 : 1
1 x 2 : 2
1 x 3 : 3
1 x 4 : 4
1 x 5 : 5
1 x 6 : 6
1 x 7 : 7
1 x 8 : 8
1 x 9 : 9


2 x 1 : 2
2 x 2 : 4
2 x 3 : 6
2 x 4 : 8
2 x 5 : 10
2 x 6 : 12
2 x 7 : 14
2 x 8 : 16
2 x 9 : 18


3 x 1 : 3
3 x 2 : 6
3 x 3 : 9
3 x 4 : 12
3 x 5 : 15
3 x 6 : 18
3 x 7 : 21
3 x 8 : 24
3 x 9 : 27


4 x 1 : 4
4 x 2 : 8
4 x 3 : 12
4 x 4 : 16
4 x 5 : 20
4 x 6 : 24
4 x 7 : 28
4 x 8 : 32
4 x 9 : 36


5 x 1 : 5
5 x 2 : 10
5 x 3 : 15
5 x 4 : 20
5 x 5 : 25
5 x 6 : 30
5 x 7 : 35
5 x 8 : 40
5 x 9 : 45


6 x 1 : 6
6 x 2 : 12
6 x 3 : 18
6 x 4 : 24
6 x 5 : 30
6 x 6 : 36
6 x 7 : 42
6 x 8 : 48
6 x 9 : 54


7 x 1 : 7
7 x 2 : 14
7 x 3 : 21
7 x 4 : 28
7 x 5 : 35
7 x 6 : 42
7 x 7 : 49
7 x 8 : 56
7 x 9 : 63


8 x 1 : 8
8 x 2 : 16
8 x 3 : 24
8 x 4 : 32
8 x 5 : 40
8 x 6 : 48
8 x 7 : 56
8 x 8 : 64
8 x 9 : 72


9 x 1 : 9
9 x 2 : 18
9 x 3 : 27
9 x 4 : 36
9 x 5 : 45
9 x 6 : 54
9 x 7 : 63
9 x 8 : 72
9 x 9 : 81

### Python 매직 명령어

In [ ]:
whos

In [ ]:
%magic

In [48]:
hist

x = 10
y = 20

if x + y = < 50 :
    print("True")
x = 10
y = 20

if x + y < 50 :
    print("True")
x = 10
y = 60
if x + y < 50:
    print('True')
else:
    print('False')
x = 10
y = 60
if x + y < 50:
    print('True')
else:
    print('False')
x = 10
y = 60

if x + y < 50:
    print('True')
else:
    print('False')
a = ['python', 'is', 'easy']

'python' in a
print('x를 입력하시오.\n')
x = int(input())

print('\ny를 입력하시오.')
y = int(input())

if x < y :
    print('%s은 %s보다 작습니다' %('x','y'))

if x == y:
    print('%s은 %s보다 같습니다' %('x','y')')

else:
    print('%s은 %s보다 큽니다' %('x','y')')
print('x를 입력하시오.\n')
x = int(input())

print('\ny를 입력하시오.')
y = int(input())

if x < y :
    print('%s은 %s보다 작습니다' %('x'.'y'))

if x == y:
    print('%s은 %s보다 같습니다' %('x','y')')

else:
    print('%s은 %s보다 큽니다' %('x','y')')
print('x를 입력하시오.\n')
x = int(input())

print('\ny를 입력하시오.')
y = int(input())

if x < y :
    print('%s은 %s보다 작습니다'%('x','y'))

if x == y:
    print('%s은 %s보다 같습니다'%('x','y')')

else:
    print('%s은 %s보다 큽니다'%('x','y')')
treeHit = 0
while treeHit = treeHit < 10:
    treeHit = treeHit + 1
    print('나무를 %d번 찍었습니다.' % treeHit)
    if treeHit == 10:
        print('나무가 넘어갑니다.')
treeHit = 0
while treeHit < 10:
    treeHit = treeHit + 1
    print('나무를 %d번 찍었습니다.' % treeHit)
    if treeHit == 10:
        print('나무가 넘어갑니다.')
print('x를 입력하시오.\n')
x = int(input())

print('\ny를 입력하시오.')
y = int(input())

if x < y:
    print('%s은 %s보다 작습니다'%('x','y'))

if x == y:
    print('%s은 %s는 같습니다'%('x','y')')

else:
    print('%s은 %s보다 큽니다'%('x','y')')
print('x를 입력하시오.\n')
x = int(input())

print('\ny를 입력하시오.')
y = int(input())

if x < y:
    print('%s은 %s보다 작습니다'%('x','y'))

if x == y:
    print('%s은 %s는 같습니다'%('x','y')')

else:
    print('%s은 %s보다 큽니다'%('x','y')')
print('x를 입력하시오.\n')
x = int(input())

print('\ny를 입력하시오.')
y = int(input())

if x < y:
    print('%s은 %s보다 작습니다'%('x','y'))

if x == y:
    print('%s은 %s는 같습니다'%('x','y'))

else:
    print('%s은 %s보다 큽니다'%('x','y'))
print('x를 입력하시오.\n')
x = int(input())

print('\ny를 입력하시오.')
y = int(input())

if x < y:
    print('%s은 %s보다 작습니다'%('x','y'))

if x == y:
    print('%s은 %s는 같습니다'%('x','y'))

else:
    print('%s은 %s보다 큽니다'%('x','y'))
print('x를 입력하시오.\n')
x = int(input())

print('\ny를 입력하시오.')
y = int(input())

if x < y:
    print('%s은 %s보다 작습니다'%('x','y'))

if x == y:
    print('%s은 %s는 같습니다'%('x','y'))

else:
    print('%s은 %s보다 큽니다'%('x','y'))
print('x를 입력하시오.\n')
x = int(input())

print('\ny를 입력하시오.')
y = int(input())

if x < y:
    print('%s은 %s보다 작습니다.' %('x','y'))

if x == y:
    print('%s은 %s는 같습니다.' %('x','y'))

else:
    print('%s은 %s보다 큽니다.' %('x','y'))
treeHit = 0
while treeHit < 10:
    treeHit = treeHit + 1
    print('나무를 %d번 찍었습니다.' % treeHit)
    if treeHit == 10:
        print('나무가 넘어갑니다.')
        break
    a = input()
    continue
a = ['apple','peer','pitch']
for x in a:
    print(x)
a = 1, 2
for x in a:
    print(x)
    y = x + 1
    print(y)
print('x를 입력하시오.\n')
x = int(input())

print('\ny를 입력하시오.')
y = int(input())

if x < y:
    print('%d은 %d보다 작습니다.' %('x','y'))

if x == y:
    print('%s은 %s는 같습니다.' %('x','y'))

else:
    print('%s은 %s보다 큽니다.' %('x','y'))
print('x를 입력하시오.\n')
x = int(input())

print('\ny를 입력하시오.')
y = int(input())

if x < y:
    print('%s은 %s보다 작습니다.' %(x,'y'))

if x == y:
    print('%s은 %s는 같습니다.' %('x','y'))

else:
    print('%s은 %s보다 큽니다.' %('x','y'))
print('x를 입력하시오.\n')
x = int(input())

print('\ny를 입력하시오.')
y = int(input())

if x < y:
    print('%s은 %s보다 작습니다.' %(x,y))

if x == y:
    print('%s은 %s는 같습니다.' %(x,y))

else:
    print('%s은 %s보다 큽니다.' %(x,y))
for i in range(1, 10):
    for k in range(1, 10):
        result = i * k
        print('%s x %s : ' %(i, k), result)
    print('\n')
for i in range(1, 10):
    for k in range(1, 10):
        result = i * k
        print('%s x %s :' %(i, k), result)
    print('\n')
import pandas as pd
import numpy as np
data = {"name_id_code" : ['0', '105', '12', '130'],
       "year" : [2014, 2015, 2016, 2017],
       "points" : [10, 15, 30, 5],
       "penalty" : [1, 2, 5, 0]}
data
pd.DataFrame(data,
             columns=['year','name_id_code','points','penalty'],
             index=['1','2','3','4'])
pd.DataFrame(data,
             columns=['name_id_code','points','penalty'],
             index=['1','2','3','4'])
pd.DataFrame(data,
             columns=['year','name_id_code','points','penalty'])
pd.DataFrame(data,
             columns=['year','name_id_code','points','penalty'],
             index=['1','2','3','4'])
pd.DataFrame(data)
pd.DataFrame(data,
             columns=['year','name_id_code','points','penalty'],
             index=['1','2','3','4'])
data
df = pd.DataFrame(data,
             columns=['year','name_id_code','points','penalty'],
             index=['1','2','3','4'])
df
print(pd.DataFrame(data,
             columns=['year','name_id_code','points','penalty'],
             index=['1','2','3','4']))
pd.DataFrame(data,
             columns=['year','name_id_code','points','penalty'],
             index=['1','2','3','4'])
df = pd.DataFrame(data,
             columns=['year','name_id_code','points','penalty'],
             index=['1','2','3','4'])
df
df.to_csv('./save_files/save_data.csv')
globals()
whos
magic
%magic
hist

### Pandas 기초

In [26]:
import pandas as pd

In [27]:
import numpy as np

In [28]:
data = {"name_id_code" : ['0', '105', '12', '130'],
       "year" : [2014, 2015, 2016, 2017],
       "points" : [10, 15, 30, 5],
       "penalty" : [1, 2, 5, 0]}

In [41]:
df = pd.DataFrame(data, 
             columns=['year','name_id_code','points','penalty'], 
             index=['1','2','3','4'])

### 파일 저장 & 읽기

In [42]:
df

   year name_id_code  points  penalty
1  2014            0      10        1
2  2015          105      15        2
3  2016           12      30        5
4  2017          130       5        0

In [43]:
df.to_csv('./save_files/save_data.csv')

In [49]:
pd.read_csv('./save_files/save_data.csv')

   Unnamed: 0  year  name_id_code  points  penalty
0           1  2014             0      10        1
1           2  2015           105      15        2
2           3  2016            12      30        5
3           4  2017           130       5        0

In [52]:
load_data = pd.read_csv('./save_files/save_data.csv')

In [53]:
load_data_2 = load_data.set_index('Unnamed: 0')

In [54]:
load_data_2

            year  name_id_code  points  penalty
Unnamed: 0
1           2014             0      10        1
2           2015           105      15        2
3           2016            12      30        5
4           2017           130       5        0

### 데이터 분석 & 전처리

In [55]:
data_2 = {"name_id_code" : ['1000', '1105', '998', '1001'],
       "year" : [2018, 2019, 2020, 2021],
       "points" : [100, 90, 60, 55],
       "penalty" : [5, 10, 5, 5]}

In [56]:
df_2 = pd.DataFrame(data_2, 
             columns=['year','name_id_code','points','penalty'], 
             index=['5','6','7','8'])

In [57]:
df_2

   year name_id_code  points  penalty
5  2018         1000     100        5
6  2019         1105      90       10
7  2020          998      60        5
8  2021         1001      55        5

In [66]:
df_2['points'].mean()

76.25

In [62]:
df_2['points'].std()

22.12653007891959

In [72]:
df_2['points'].min()

55

In [68]:
df_2['points'].max()

100

In [73]:
df_2.describe()

              year     points  penalty
count     4.000000    4.00000     4.00
mean   2019.500000   76.25000     6.25
std       1.290994   22.12653     2.50
min    2018.000000   55.00000     5.00
25%    2018.750000   58.75000     5.00
50%    2019.500000   75.00000     5.00
75%    2020.250000   92.50000     6.25
max    2021.000000  100.00000    10.00

In [75]:
df_2.dtypes

year             int64
name_id_code    object
points           int64
penalty          int64
dtype: object

In [77]:
df_2_float = df_2.astype('float')

In [79]:
df_2_float.dtypes

year            float64
name_id_code    float64
points          float64
penalty         float64
dtype: object

In [80]:
df_2_float_2 = df_2.astype({'name_id_code':int})

In [81]:
df_2_float_2.dtypes

year            int64
name_id_code    int64
points          int64
penalty         int64
dtype: object

In [82]:
df_2_float_2

   year  name_id_code  points  penalty
5  2018          1000     100        5
6  2019          1105      90       10
7  2020           998      60        5
8  2021          1001      55        5

In [83]:
df_2_float_2[df_2_float_2['points'].isin([100])]

   year  name_id_code  points  penalty
5  2018          1000     100        5

In [84]:
df_2_float_2['points'].isin([100])

5     True
6    False
7    False
8    False
Name: points, dtype: bool

In [85]:
df_2_float_2[df_2_float_2['points'].isin([100]) | df_2_float_2['penalty'].isin([10])]

   year  name_id_code  points  penalty
5  2018          1000     100        5
6  2019          1105      90       10

In [86]:
df_2_float_2[df_2_float_2['points'] <= 60]

   year  name_id_code  points  penalty
7  2020           998      60        5
8  2021          1001      55        5

In [90]:
df_2_float_2[(df_2_float_2['points'] >= 60) & (df_2_float_2['penalty'] > 5)]

   year  name_id_code  points  penalty
6  2019          1105      90       10

In [91]:
data_3 = {"name_id_code" : [np.nan, 1305, np.nan, 4854],
       "year" : [2021, 2021, 2021, 2021],
       "points" : [80, 85, 70, 75],
       "penalty" : [0, np.nan, 15, 10]}

In [92]:
df_3 = pd.DataFrame(data_3, 
             columns=['year','name_id_code','points','penalty'], 
             index=['9','10','11','12'])

In [93]:
df_3

    year  name_id_code  points  penalty
9   2021           NaN      80      0.0
10  2021        1305.0      85      NaN
11  2021           NaN      70     15.0
12  2021        4854.0      75     10.0

In [104]:
df_3.isna()

     year  name_id_code  points  penalty
9   False          True   False    False
10  False         False   False     True
11  False          True   False    False
12  False         False   False    False

In [95]:
df_3.dropna(axis=0)

    year  name_id_code  points  penalty
12  2021        4854.0      75     10.0

In [96]:
df_3.dropna(axis=1)

    year  points
9   2021      80
10  2021      85
11  2021      70
12  2021      75

In [97]:
df_total = pd.concat([df, df_2, df_3], axis = 0)

In [98]:
df_total

    year name_id_code  points  penalty
1   2014            0      10      1.0
2   2015          105      15      2.0
3   2016           12      30      5.0
4   2017          130       5      0.0
5   2018         1000     100      5.0
6   2019         1105      90     10.0
7   2020          998      60      5.0
8   2021         1001      55      5.0
9   2021          NaN      80      0.0
10  2021         1305      85      NaN
11  2021          NaN      70     15.0
12  2021         4854      75     10.0

### 프로젝트

In [132]:
per_nan = df_total.isna().sum() / len(df_total)*100

In [133]:
print('year column 에서 NaN 비율(%) :', per_nan[0])
print('name_id_code column 에서 NaN 비율(%) :', np.round(per_nan[1],2))
print('points column 에서 NaN 비율(%) :', per_nan[2])
print('penalty column 에서 NaN 비율(%) :', np.round(per_nan[3],2))

year column 에서 NaN 비율(%) : 0.0
name_id_code column 에서 NaN 비율(%) : 16.67
points column 에서 NaN 비율(%) : 0.0
penalty column 에서 NaN 비율(%) : 8.33

In [141]:
df_total.notnull().sum() / len(df_total)*100

year            100.000000
name_id_code     83.333333
points          100.000000
penalty          91.666667
dtype: float64

In [136]:
print('selected data가 전체 data에서 차지하는 비중(%) :', np.round(per_selected_data,2))

NameError: name 'per_selected_data' is not defined